//============PICKED--COLOURS_START============//
$prussian-blue: #1D3251ff;
$frostbite: #DA44A9ff;
$raisin-black: #1F1A1Bff;
$smoky-black: #0F0F0Fff;
$eerie-black: #191A1Bff;
$eerie-black-2: #17191Aff;
$midnight-blue: #000055ff;
$jaguar-blue-magenta: #27272a;
$sea-green-crayola: #00FFCCff;
$green-cyan: #03fab0;
$gray90:#E5E5E5;
$black-olive: #3D3D3D;
//============PICKED--COLOURS_END============//